<blockquote class="caution">
    <div>
      <i class="fa-solid fa-triangle-exclamation"></i><strong> Important: NGINX Plus R33 requires NGINX Instance Manager 2.18 or later</strong>
      <br>
      To ensure uninterrupted traffic processing, upgrade to NGINX Instance Manager 2.18 or later if your NGINX data plane instances are running NGINX Plus R33. This upgrade is necessary to support usage reporting.
      <br><br>
      NGINX Plus R33 instances must send usage data to the F5 licensing endpoint or NGINX Instance Manager. If they don’t, they will stop processing traffic.
      <br><br>
      For more information about usage reporting and enforcement, see 
      <a href="../../../../solutions/about-subscription-licenses">About solution licenses</a>.
    </div>
</blockquote>